<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">

    <title>Shoe Wholesaler</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Shoe Wholesaler</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <a href="{%url 'shoe' %}"><button>Shoe Creator</button></a>
            
            <div class="store_list">
                <h2>All Stores</h2>
                {% for store in store_list %}
                <a class="store"  href="{% url 'store_detail' store.id %}">
                    <p>{{ store.name }}</h3>
                    <p>Adres: {{ store.address }}</p>
                    <p>Phone: {{ store.phone }}</p>                        
                </a>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
